<h1>审批中心</h1> 

<div>
<h2>休假审批</h2>
<table>
  <tr>
    <th>申请人</th>
    <th>开始日期</th>
    <th>结束日期</th>
    <th>请假时长</th>
    <th>审批人</th>
    <th>审批进度</th>

    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @vacations.each do |vacation| %>
  <tr>
    <td><%= vacation.applyName %></td>
    <td><%= vacation.start %></td>
    <td><%= vacation.end %></td>
    <td><%= vacation.hours %></td>
    <td><%= vacation.auditName %></td>
    <td><%= vacation.statusShow %></td>
    <td><%= link_to "查看", vacation %></td>
    <td><%= link_to "修改", edit_vacation_path(vacation) %></td>
    <td><%= link_to "审批通过", ({:controller =>'vacation',:action => 'auditpass',:id => vacation.id}), data: { confirm: "确定审批通过?" } %></td>
    <td><%= link_to "删除", vacation, method: :delete, data: { confirm: "确定删除?" } %></td>
  </tr>
<% end %>
</table>
</div>
 

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'vacation', :plugin => 'ingeekvacation' %>
    <%= javascript_include_tag "vacation" , :plugin => 'ingeekvacation' %>
<% end %>

