<h1>休假申请</h1>

<div class="contextual">
<%= link_to "新增休假申请", new_vacation_path , :class => 'icon icon-add new-vacation'  %>
</div>
 
<div>
<table class="list odd-even">
  <tr class="group open">
    <th class="checkbox hide-when-print">申请人</th>
    <th class="checkbox hide-when-print">开始日期</th>
    <th class="checkbox hide-when-print">结束日期</th>
    <th class="checkbox hide-when-print">请假时长</th>
    <th class="checkbox hide-when-print">审批人</th>
    <th class="checkbox hide-when-print">审批进度</th>
    <th class="checkbox hide-when-print"></th>
    <th class="checkbox hide-when-print"></th>
    <th class="checkbox hide-when-print"></th>
  </tr>
 
<% @vacations.each do |vacation| %>
  <tr class="time-entry <%= cycle("odd", "even") %> hascontextmenu">
    <td><%= vacation.applyName %></td>
    <td><%= vacation.start %></td>
    <td><%= vacation.end %></td>
    <td><%= vacation.hours %></td>
    <td><%= vacation.auditName %></td>
    <td><%= vacation.statusShow %></td>
    <td><%= link_to "查看", vacation %></td>
    <td><%= link_to "修改", edit_vacation_path(vacation) %></td>
    <td><%= link_to "删除", vacation, method: :delete, data: { confirm: "确定删除?" } %></td>
  </tr>
<% end %>
</table>
</div>
 

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'vacation', :plugin => 'ingeekvacation' %>
    <%= javascript_include_tag "vacation" , :plugin => 'ingeekvacation' %>
<% end %>

