
<%= form_for @vacation, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<div class="box tabular">
 <p>
  <label  class="required" for="start" id="start"><%="休假开始时间:"%></label>
  <%= f.date_field :start, :size => 10 , :required => true %>
  </p>
  <p>
  <label  class="required" for="end" id="end"><%="休假结束时间:"%></label>
  <%= f.date_field :end, :size => 10 , :required => true %>
  </p>
  <p>
  <label  class="required" for="hours" id="hours"><%="请假时长:"%></label>
  <%= f.text_field :hours, size: "8" , :required => true  %> <label class="inline">小时</label>
  </p>

  <p>
   <label  class="required" for="auditId" id="auditId">审批人</label>
     <%= f.select(:auditId, options_from_collection_for_select(@users, "id", "name")) %>
  </p>

  <p>
   <label  class="required" for="vatype" id="vatype">假期类型</label>
     <%= f.select(:vatype, options_for_select([["调休假", "1"], ["年假", "2"], ["病假", "2"]])) %>
  </p>
  <p>
  <label  class="required" for="reason" id="reason"><%="休假事由:"%></label>
  <%= f.text_area :reason, size: "60x12" , :required => true  %>
  </p>
  <p><%= f.submit "请假" %></p>
  </div>
<% end %>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'vacation', :plugin => 'ingeekvacation' %>
<% end %>